# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Temp audio files (safety)
*.wav
*.mp3

# OS files
.DS_Store
Thumbs.db

# Streamlit config
.streamlit/

# Whisper model files (if downloaded later)
*.pt
